logs
fuel/vendor
.idea
.vscode
public/bower_components
/node_modules
/nbproject

composer.phar

public/**/*.old
public/assets/js/src/CssColorValue.js

public/assets/less/**/*
!public/assets/less/bootstrap-ending.less
!public/assets/less/brand-id.less
!public/assets/less/default.variables.less
!public/assets/less/default.less
!public/assets/less/main.less
!public/assets/less/preview.less

public/1/*
public/2/*
public/3/*

!public/assets/css/fonts/*

public/assets/img/dist/*
