<div id="menu-top">


    <div  style="float: left;margin-right : 20px;width: 31%;">

    </div>
    <div style="float: left;margin-right : 20px;width: 31%;">
        <ul>
            <li class="menu-choix active" style="width:auto;">
                <i class="fa fa-pencil"></i>
                <a href="{{ path('responsive_index') }}">Retour à l'editeur</a>
            </li>


        </ul>
    </div>

</div>
