<div  class="container" style="float:left;width:73%;height:100%;padding-top: 38px;"  ondragover="return false">
   <textarea id="editeur" > {{ html }}</textarea>
    <input type="hidden" id="rootURL" value="{{ root }}" />
</div>

<style>


</style>