<div id="style" class="menu-content">

    <div style="float:left;width : 100%; padding: 10px;">
        <h2>Style</h2>
        <hr />
        <div id="styleContent">


        </div>
        <!--<div  class="ui-state-highlight draggable column-menu" data-column="4">4 4 4 colonnes</div> -->
    </div>
</div>