<div id="preview" class="menu-content">
    <div style="float:left;width : 100%; padding: 10px;">
        <div  class="ui-state-highlight viewPeri column-menu" data-view="mobile">Mobile</div>
        <div  class="ui-state-highlight viewPeri  column-menu" data-view="ipad">Ipad</div>
        <div  class="ui-state-highlight viewPeri column-menu" data-view="desktop">Desktop</div>

    </div>
    <hr >
</div>