<div id="contenu" class="menu-content" style="height: 900px;    overflow-y: auto;">
    <div style="float:left;width : 100%; padding: 10px;">
        <h2>Blocks</h2>
        <hr/>
        <div>
            <ul>
                <li class="ui-state-highlight draggable column-menu-block" data-column="100">
                    <div class="column-menu" style="margin-left: 48%; margin-right: auto; width: 10px; height: 80%;">
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-block" data-column="260-1,260-2">
                    <div class="column-menu" style=" margin-left: 40%;">
                    </div>
                    <div class="column-menu">
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-block" data-column="174-1,174-2,174-3">
                    <div class="column-menu" style="margin-left: 35%;">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-block" data-column="130-1,130-2,130-3,130-4">
                    <div class="column-menu" style="margin-left: 30%;">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>

                </li>
                <li class="ui-state-highlight draggable column-menu-block" data-column="104-1,104-2,104-3,104-4,104-5">
                    <div class="column-menu" style="margin-left: 25%;">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-block" data-column="87-1,87-2,87-3,87-4,87-5,87-6">
                    <div class="column-menu"style="margin-left: 20%;">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-block" data-column="70,425">
                    <div class="column-menu" style="margin-left: 12%;">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-block" data-column="115,380">
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                    <div class="column-menu">
                    </div>
                </li>
            </ul>
            <!--<div  class="ui-state-highlight draggable column-menu" data-column="4">4 4 4 colonnes</div> -->
        </div>
    </div>

    <hr>

    <div style="float:left;width : 100%; padding: 10px;">
        <h2>Composants</h2>
        <hr/>
        <div style="float:left; width : 100%;padding: 15px; background: #313131; border-radius: 5px;color: #E47C00; margin-top: 10px;">
            <ul>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="text+button">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-align-left" style="font-size: 30px;"></i>
                    </div>
                    <div class="composant-button">
                    </div>
                    <div style="margin-top: 14%;">
                        Texte + bouton
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="title+text">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-text-width" style="font-size: 30px;"></i>
                    </div>
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-align-left" style="font-size: 30px; margin-top: -10px;"></i>
                    </div>
                    <div style="margin-bottom: 15%;">
                        <span class="column-menuText" style="margin-top: -5px;">Titre + Texte</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="2titles">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-text-height"></i>
                    </div>
                    <div style="margin-top: 15%;">
                        <span class="column-menuText">2 Titres</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="image">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-picture"></i>
                    </div>
                    <div style="margin-top: 14%;">
                        <span class="column-menuText">Image</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="title">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-text-width composant-icon-content"></i>
                    </div>
                    <div style="margin-top: 14%;">
                        <span class="column-menuText">Titre</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="text">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-align-left"></i>
                    </div>
                    <div style="margin-top: 14%;">
                        <span class="column-menuText">Texte</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="button">
                    <div style="border-radius: 5px; width: 80%; height: 30px; background-color: transparent; margin-top: 40px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                        <i class="glyphicon composant-icon-content glyphicon-hand-up" style="font-size: x-large"></i>
                    </div>
                    <div style="margin-top: 10%; border: 5px;">
                        <span class="column-menuText">Bouton</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="separator">
                    <div class="separator"></div>
                    <div style="margin-top: 22%;">
                        <span class="column-menuText">Séparateur</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="espaceur">
                    <div style="border:1px dotted #313131; width: 80%; margin-right: 5px; margin-left: 15px; margin-top: 30px;"></div>
                    <div style="border:1px dotted #313131; width: 80%; margin-right: 5px; margin-left: 15px; margin-top: 20px; height: 2px;"></div>
                    <div style="margin-top: 17%;">
                        <span class="column-menuText">Espaceur</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="share">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-share"></i>
                    </div>
                    <div style="margin-top: 17%;">
                        <span class="column-menuText">Partager</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="pay">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-euro"></i>
                    </div>
                    <div style="margin-top: 17%;">
                        <span class="column-menuText">Paiement</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="list">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-th-list"></i>
                    </div>
                    <div style="margin-top: 17%;">
                        <span class="column-menuText">Liste</span>
                    </div>
                </li>
                </li>
                <li class="ui-state-highlight draggable2 column-menu-composant type" data-type="video">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-content glyphicon-film"></i>
                    </div>
                    <div style="margin-top: 17%;">
                        <span class="column-menuText">Video</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <hr>
    <div style="float:left;width : 100%; padding: 10px;">
        <h2>Elements composés</h2>
        <hr/>
        <div style="float:left;width : 100%;padding: 15px;background: #313131;border-radius: 5px;color: #E47C00; margin-top: 10px;">
            <ul>
                <li class="ui-state-highlight draggable column-menu-element type" data-column="100,composant">
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                    </div>
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                    </div>
                    <div class="composant-icon">
                        <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                    </div>
                    <div style="margin-bottom: 4px; border-radius: 5px; width: 30%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                    </div>
                    <span class="column-menuText"> Image + Titre + Texte + Bouton</span>
                </li>
                <li class="ui-state-highlight draggable column-menu-element type" data-column="260-1,260-2,composant">
                    <div style="margin-top: 40px; margin-left: 31px;">
                        <div style="float: left">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                        </div>
                        <div style="float: left; margin-left: 10px;">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 140px;">
                        <span class="column-menuText"> Image + texte ( 2 colonnes )</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-element type" data-column="260-1,260-2,composantITTB">
                    <div style="margin-top: 15px; margin-left: 30px;">
                        <div style="float: left">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                        <div style="float: left; margin-left: 10px;">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 140px;">
                        <span class="column-menuText"> Image + Titre + Texte + Bouton  ( 2 colonnes )</span>
                    </div>

                </li>
                <li class="ui-state-highlight draggable column-menu-element type" data-column="174-1,174-2,174-3,composant">
                    <div style="margin-top: 15px; margin-left: 15px;">
                        <div style="float: left">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                        <div style="float: left; margin-left: 10px;">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                        <div style="float: left; margin-left: 10px;">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 140px;">
                        <span class="column-menuText"> Image + Titre + Texte + Bouton  ( 3 colonnes )</span>
                    </div>
                </li>
                <li class="ui-state-highlight draggable column-menu-element type" data-column="130-1,130-2,130-3,130-4,composant">
                    <div style="margin-top: 20px; margin-left: 12px;">
                        <div style="float: left">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                        <div style="float: left; margin-left: 6px;">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                        <div style="float: left; margin-left: 6px;">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                        <div style="float: left; margin-left: 6px;">
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-picture"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-text-width" style="padding-top: -20px;"></i>
                            </div>
                            <div class="composant-icon">
                                <i class="glyphicon composant-icon-element glyphicon-align-left"></i>
                            </div>
                            <div style="margin-bottom: 4px; border-radius: 5px; width: 100%; height: 20px; margin-top: 10px; margin-right: auto; margin-left: auto; border: 2px solid #313131">
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 140px;">
                        <span class="column-menuText"> Image + Titre + Texte + Bouton  ( 4 colonnes )</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
